# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# BIDS data folder
BIDS_data/

# Additional data folders
physio/

# Large neuroimaging files and derivatives
main_project_path/derivatives/
*.nii.gz
*.npz
*.npy
*.acq

# Log files
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
